.list{
    text-align: left;    
    width: 80vw;   
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
.section{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1280px) {
    .section {
            flex-direction: row;
        }
    .list{
        width: 20vw;
        flex-direction: column;  
        margin: 0;    
    }
   
}