.list{
    text-align: left;    
    width: 20vw;
}
.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item{
    cursor: pointer;
    color: white;
    padding: 5px;
    display: flex;
    gap: 12px;
    align-items: center;
}
.item:hover{
    font-size: 18px;
}
