.item{
    cursor: pointer;
        color: white;
        padding: 5px;
        display: flex;
        gap: 5px;
        align-items: center;
        font-size: 8px;
}
.item:hover {
    color: yellow;
}

.item:focus {
    color: yellow;
}
@media (min-width: 1280px) {
    .item {
        gap: 12px;
        font-size: 16px;

    }
    .item:hover {
        font-size: 18px;
    }
}